* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100vw;
  height: 4rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.buttonGrid {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.addBtn {
  background-color: gray;
  color: whitesmoke;
  border: none;
  border-radius: 10%;
  padding: 1rem;
  position: relative;

}

.popUp {
  display: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-left: 30%;
  
  z-index: 10;
}

.popUp form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 4rem;
}

.popUp input {
  font-size: 1rem;
  border: none;
  padding: 0.3rem;

}


.submit,
.cancel {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10%;
  font-weight: bold;
  padding: 1rem;
}

.libraryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.book {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  height: 15rem;
  width: 15rem;
  background-color: whitesmoke;
  border-radius: 10%;
  
}

.unreadBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  min-width: 70%;
  border-radius: 10%;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
  
}

.readBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  min-width: 70%;
  border-radius: 10%;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
  
}



.removeBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  min-width: 70%;
  border-radius: 10%;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
}
